<p>This is a super basic app to understand the different OAuth workflows.</p>
<p>The following workflows are currently supported:</p>

<table>
  <tbody>
    <tr>
      <td>&nbsp;Workflow</td>
      <td>Works?</td>
      <td>How to launch</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
